* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-visual {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.heading {
  padding: 20px;
  color: rosybrown;
  font-size: 32px;
}

main {
  width: 840px;
  margin: 50px auto;
}

.service-content1 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: rosybrown;
}

.service-content2 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: rosybrown;
}

.service-content3 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: rosybrown;
}

.service-content4 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: rosybrown;
}

a {
  color: rosybrown;
}
